@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
    ul{list-style-type: none}
    li:hover{font-weight: bold; cursor:pointer}
</style>
<body>
<div id="app">
    Darkest Night
    Characters
    <ul>
        <li v-for="hero in availableHeroes">
            <div v-on:click="selectHero">
                {{hero}}
            </div>
        </li>
    </ul>
    Selected
    <ul>
        <li v-for="hero in selectedHeroes">
            <div v-on:click="unselectHero">
                {{hero}}
            </div>
        </li>
    </ul>
</div>
</body>
</html>

<script src="../../Scripts/jquery-3.1.1.js"></script>
<script src="../../Scripts/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: 'Darkest Night',
            availableHeroes: [],
            selectedHeroes: []
        },
        methods: {
            selectHero: function(event) {
                var hero = event.target.innerText;
                app.selectedHeroes.push(hero);
                var index = app.availableHeroes.indexOf(hero);
                app.availableHeroes.splice(index, 1);
            }
        }
    });
    $.ajax({
        url: '/api/hero',
        success: function(result) {
            app.availableHeroes = result;
        }
    });
</script>
